.content-container{
    text-align: center;
}
h1{
    font-weight: bold;
    color: #3f51b5;
    font-size: 2.5em;
}

p{
    color: #212121;
    font-size: 1.2em;
}

.ic-1{
    color: #f1d600;
    font-size: 4em;
}