<div class="input-group-overlay d-none d-lg-block mx-4">
    <div class="input-group-prepend-overlay">
        <span class="input-group-text">
        <i class="icon-magnifier icons"></i>
        </span>
    </div>
    <input class="form-control prepended-form-control appended-form-control" type="text" placeholder="Search for products">
    <div class="input-group-append-overlay">
        <select class="custom-select">
        <option>All categories</option>
        <option>Computers</option>
        <option>Smartphones</option>
        <option>TV, Video, Audio</option>
        <option>Cameras</option>
        <option>Headphones</option>
        <option>Wearables</option>
        <option>Printers</option>
        <option>Video Games</option>
        <option>Home Music</option>
        <option>Data Storage</option>
        </select>
    </div>
</div>