<app-breadcrumbs></app-breadcrumbs>

<!-- Page Content-->
<div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
        <!-- Sidebar-->
        <aside class="col-lg-4">
            <!-- Sidebar-->
            <div class="cz-sidebar rounded-lg box-shadow-lg" id="shop-sidebar">
                <div class="cz-sidebar-header box-shadow-sm">
                <button class="close ml-auto" type="button" data-dismiss="sidebar" aria-label="Close"><span class="d-inline-block font-size-xs font-weight-normal align-middle">Close sidebar</span><span class="d-inline-block align-middle ml-2" aria-hidden="true">&times;</span></button>
                </div>
                <div class="cz-sidebar-body">
                    <!-- Categories-->
                    <div class="widget widget-categories mb-4 pb-4 border-bottom">
                        <h3 class="widget-title">Sort Products</h3>
                        <div class="accordion mt-n1" id="shop-categories">
                            <div class="card">
                                <div class="d-flex flex-wrap">
                                    <div class="form-inline flex-nowrap mr-3 mr-sm-4 pb-3">
                                        <label class="opacity-75 text-nowrap mr-2 d-none d-sm-block" for="sorting">Sort by:</label>
                                        <select (change)="orderProduct($event.target.value)" class="form-control custom-select" id="sorting">
                                            <option value="default">Default</option>
                                            <option value="low">Low - High Price</option>
                                            <option value="high">High - Low Price</option>
                                            <option value="alphaASC">A - Z Order</option>
                                            <option value="alphaDESC">Z - A Order</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Categories-->
                    <div class="widget widget-categories mb-4 pb-4 border-bottom">
                        <h3 class="widget-title">Categories</h3>
                        <div class="accordion mt-n1" *ngFor="let category of categories" id="shop-categories">
                            <span class="accordion-heading"><a class="category-link" (click)="filterByCategory(category.id)" role="button">{{category.name}}</a></span>
                        </div>
                    </div>
                    <!-- Filter by Brand-->
                    <div class="widget cz-filter mb-4 pb-4 border-bottom">
                        <h3 class="widget-title">Brand</h3>
                        <div class="input-group-overlay input-group-sm mb-2">
                            <input class="cz-filter-search form-control form-control-sm appended-form-control" type="text" placeholder="Search">
                            <div class="input-group-append-overlay"><span class="input-group-text"><i class="icon-magnifier icons"></i></span></div>
                        </div>
                        <ul class="widget-list cz-filter-list list-unstyled pt-1" style="max-height: 12rem;" data-simplebar data-simplebar-auto-hide="false">
                            <li *ngFor="let brand of brands" class="cz-filter-item d-flex justify-content-between align-items-center mb-1">
                                <div class="custom-control custom-checkbox">
                                    <input
                                    class="custom-control-input"
                                    type="checkbox" 
                                    id="{{brand.name}}"
                                    (change)="brandChecked($event.target.checked, brand.id)"
                                    [checked]="checked(brand.id)" >
                                    <label class="custom-control-label cz-filter-item-text" for="{{brand.name}}">{{brand.name}}</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </aside>
        <!-- Content  -->
        <section class="col-lg-8" *ngIf="products">
            <!-- Product-->
            <div *ngFor="let product of products">
                <app-category-product-card [product]="product" (addToCartEvent)="addToCart($event)" (quickViewProductEvent)="productQuickViewModal($event)" (viewProductEvent)="viewProduct($event)"></app-category-product-card>
            </div>
        </section>
    </div>
</div>
