
      <div class="card product-card">
        <div class="product-card-actions d-flex align-items-center">
          <button class="btn-wishlist btn-sm" [class.active-icon]="wishlistService.isProductInWishlist(product.id)" type="button" data-toggle="tooltip" data-placement="left" (click)="addToWishlist(product)" title="Add to wishlist">
            <i class="icon-heart icons"></i>
          </button>
        </div>
        <a class="card-img-top d-block overflow-hidden" (click)="viewProduct(product)">
          <img src="/assets/img/shop/catalog/{{product.photos[0]}}" alt="Product">
        </a>
        <div class="card-body py-2">
          <a class="product-meta d-block font-size-xs pb-1" (click)="viewProduct(product)">
            {{product.categoryName}}
          </a>
          
          <h3 class="product-title font-size-sm">
            <a (click)="viewProduct(product)">{{product.name}}</a>
          </h3>
          <div class="d-flex justify-content-between">
            <div class="product-price"><span class="text-accent">${{product.price}}</span></div>
            <div class="star-rating">
              <i class="icon-heart icons active"></i>
              <i class="icon-heart icons active"></i>
              <i class="icon-heart icons active"></i>
              <i class="icon-heart icons active"></i>
            </div>
          </div>
        </div>
        <div class="card-body card-body-hidden">
          <button class="btn btn-primary btn-sm btn-block mb-2" type="button" (click)="addToCart(product)">
            <i class="icon-basket-loaded icons"></i>
            Add to Cart
          </button>
          <div class="text-center">
            <a class="nav-link-style font-size-ms"  (click)="quickViewProduct(product)">
              <i class="icon-eye align-middle mr-1 icons"></i>
              Quick view
            </a>
          </div>
        </div>
      </div>