<mat-toolbar color="primary" class="white-toolbar">
  <mat-toolbar-row>
    <!-- <h1>Spotless</h1> -->
    <img width="142" src="assets/img/spotless-logo.png" alt="Quickstore"/>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button routerLink="'/accounts'"> 080-293-4093 </a>
      <!-- <a mat-button routerLink="/create-account"> SIGN IN </a> -->
      <a mat-button mat-raised-button color="primary" routerLink="/book"> BOOK A SERVICE </a>
      <!-- <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button> -->

    </div>
  </mat-toolbar-row>
</mat-toolbar>

