<mat-toolbar color="primary" class="white-toolbar">
  <mat-toolbar-row>
    <h1>Spotless</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/accounts'"> 080290343093 </a>
      <a mat-button [routerLink]="'/create-account'"> SIGN IN </a>
      <a mat-button mat-raised-button color="primary" [routerLink]="'/contacts'"> BOOK A SERVICE </a>
      <!-- <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button> -->

    </div>
  </mat-toolbar-row>
</mat-toolbar>

